.ActivityCard {
  background-image: var(--link);
  background-size: cover;
  background-position: center;
  height: 8vw;
  width: 10vw;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 10px;
  box-shadow: grey 0 0 5px 1px;
  transition: scale 0.1s ease-in-out;
}

.ActivityCard h2 {
  width: 90%;
  height: 20%;
  border-radius: 10px;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  align-content: center;
  justify-content: center;
  font-size: 11px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

.ActivityCard a {
  color: black;
  background: none;
}

.ActivityCard:hover {
  scale: 1.05;
}
