.Tags {
  grid-row: 8 / 10;
  grid-column: 1 / 5;
  margin: 5vh 4vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Tags li {
  background: linear-gradient(90deg, var(--lightGreen) 60%, var(--darkGreen) 100%);
  background-size: 200%;
  background-position: right;
  font-size: 13px;
  border: solid 1px var(--gray);
  box-shadow: var(--green) 0 0 5px 0.5px;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  transition: background 0.2s ease-in-out;
}

.Tags li:hover {
  background-position: left;
}
