* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--white);
  text-decoration: none;
}


.App {
  padding: 0;
  margin-left: 2.5vw;
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 1.1vh;
  grid-template-rows: repeat(10, 9vh);
  grid-template-columns: repeat(10, 9vw);
}
