@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --white: #fff9f0;
  --purple: #c7b8e2;
  --green: #b7c7a8;
  --lightGreen: #d1dbc7;
}
