@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --white: #fff9f0;
  --gray: #6c7086;
  --purple: #c7b8e2;
  --green: #b7c7a8;
  --lightGreen: #d1dbc7;
  --darkGreen: #92ab7c;
}

* {
  font-family: "IBM Plex Sans", sans-serif;

  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--white);
  text-decoration: none;
}


.App {
  padding: 0;
  margin-left: 2.5vw;
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 1.1vh;
  grid-template-rows: repeat(10, 9vh);
  grid-template-columns: repeat(10, 9vw);
  background: none;
}

#root {
  border-radius: 20px;
  box-shadow: inset 0 0 10px 5px var(--green),
    0px 0px 20px 20px var(--green);
}
