.AudioPlayer {
  grid-column: 1 / 5;
  grid-row: 10 / 10;
  background: none;
  margin: 0 4vh;
  padding-left: 5px;
  align-content: center;
}

.AudioPlayer button {
  width: 2vw;
  margin: 2px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: none;
  background-color: var(--green);
  box-shadow: 0px 0px 5px 1px var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease-in-out;
}

.AudioPlayer button:hover {
  background-color: var(--lightGreen);
}


.AudioPlayer img {
  width: 1vw;
  aspect-ratio: 1 / 1;
  background: none;
}
